body {
    background-image: url("../images/background.jpg");
    background-size: cover;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

h1 {
    position: relative;
    text-align: center;
    font-family: fantasy;
    font-size: 40px;
    color: darkblue;
}

table, #head {
    background-color: #567;
    border: 5px inset;
    margin: auto;
}

td {
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Orbitron', sans-serif;
}

.tile {
    height: 30px;
    width: 30px;
    background-color: #CCC;
    border: 5px outset;
}

.tile:active {
    height: 38px;
    width: 38px;
    background-color: #CCC;
    border: 1px solid grey;
}

.square {
    height: 38px;
    width: 38px;
    background-color: #CCC;
    border: 1px solid grey;
}

.flag {
    height: 30px;
    width: 30px;
    background-color: #CCC;
    border: 5px outset;
    background-image: url("../images/flag.png");
    background-repeat: no-repeat;
    background-position: center;
}

#head {
    display: flex;
    justify-content: space-between;
    font-size: 36px;
    text-align: center;
}

#controls {
    display: flex;
    justify-content: center;
}

#mines {
    color: aqua;
    text-align: left;
    width: 50px;
    padding-left: 5px;
    padding-top: 1px;
}

#time {
    color: aqua;
    text-align: right;
    width: 50px;
    padding-right: 5px;
    padding-top: 1px;
}

#newGame {
    font-size: large;
    height: 30px;
    width: 118px;
    background-color: #CCC;
    border: 5px outset;
    text-align: center;
    margin: 0 5px;
    padding-top: 3%;
}

#newGame:active {
    font-size: large;
    height: 30px;
    width: 118px;
    background-color: #CCC;
    border: 5px inset #ddd;
    transform: translate(2px, 2px);
    margin: 0 5px;
    padding-top: 3%;
}

#level {
    font-size: large;
    background-color: #CCC;
    border: 5px outset;
    height: 30px;
    width: 118px;
    text-align: center;
    margin: 0 5px;
    padding-top: 3%;
}

#level:active {
    font-size: large;
    background-color: #CCC;
    height: 30px;
    width: 118px;
    border: 5px inset #ddd;
    transform: translate(2px, 2px);
    margin: 0 5px;
    padding-top: 3%;
}