body {
    background-color: black;
}

p {
    color: #33FF66;
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

button {
    margin: 10px;
}

#frame {
    margin: 170px auto 0;
    width: 545px;
    height: 629px;
    background-image: url("../images/frame.png");
    z-index: 2;
    overflow: hidden;
}

#container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
}

#pic_box {
    margin: 83px auto 0;
    top: 84px;
    width: 367px;
    height: 460px;
    z-index: 1;
    overflow: hidden;
}

#text_top{
    text-align: center;
    z-index: 5;
}

#speaker {
    position: absolute;
    right: 0;
    z-index: 5;
}

/*Face Features*/

.face {
    position: relative;
    left: 0;
    top: 0;
    z-index: 0;
}

#head {
    height: 172px;
}

#eyes {
    height: 79px;
}

#nose {
    height: 86px;
}

#mouth {
    height: 117px;
}

.lightning {
    display: none;
    position: absolute;
    left: 25%;
    z-index: -2;
}